[user]
	email = jaenek@protonmail.com
	name = jaenek
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	#basic
	a = add
	s = status
	cl = clone
	rc = rm --cached
	ps = push
	pl = pull
	#commit
	c = commit -v
	cm = commit -vm
	ca = commit -vam
	#branches
	b = branch
	co = checkout
	me = merge
	re = reset
	rb = rebase
[credential]
	helper = store
[pager]
	branch = false
